:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

/* Links */
a {
  font-weight: 500;
  color: #a855f7;
  text-decoration: none;
}
a:hover {
  color: #c084fc;
}

/* Buttons */
button:focus,
button:focus-visible {
  outline: 2px solid #a855f7;
}

/* Layout Utilities */
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

img.platform-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.grid-icons img {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}

/* Optional: Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.9);
    background-color: #0e0e0e;
  }
}
